#clockcontainer{
    background-color: black;
    height: 35vw;
    width: 35vw;
    height:440px;
    width:440px;
    background: url(clock.jfif) no-repeat;
    /*border: 2px solid black;*/
    background-size: 100%;
    margin-top: 4%;
    position: relative;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#minute{
    width:1.5%;
    height: 24%;
    top: 23%;
    left: 49.5%;
    opacity: 0.8;

}
#hour{
    width:2%;
    height: 18%;
    top: 29%;
    left: 48.5%;
    opacity: 0.8;
    
}
#second{
    width:1%;
    height: 32%;
    top: 17.5%;
    left: 49%;
    opacity: 0.8;

}